<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
     <footer class="footer-wrapper">
        <div class="footer-content">
            <div class="university-info">
                <h3>University of Central Punjab</h3>
            </div>
            <div class="social-links">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="https://www.linkedin.com/in/ans-sq/">LinkedIn</a></li>
                    <li><a href="https://github.com/ans-sq">GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 University of Central Punjab. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
