<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Age and Gender Identification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style=" background-image: url('static/images/pexels-danielabsi-952670.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
    {% include 'header.html' %}
    <h1 style="color: white">Real-time Age and Gender Detection</h1>
    {% if video %}
        {% include 'video.html' %}
    {% else %}
        {% include 'project-description.html' %}
    {% endif %}
    <div class="buttons">
        <button id="start-btn">Start</button>
        <button id="stop-btn">Stop</button>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
