<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Age and Gender Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h3>About the Project:</h3>
        <p>Our Real-Time Age and Gender Detection Web Application is a cutting-edge project built to showcase the capabilities of machine learning in real-time analysis. Utilizing Convolutional Neural Networks (CNNs) trained on the UTKface dataset, our application accurately predicts the age and gender of individuals in live video streams.</p>

        <h3>Features:</h3>
        <ul>
            <li><strong>Real-Time Detection:</strong> Our application processes live video streams to provide instantaneous age and gender predictions.</li>
            <li><strong>High Accuracy:</strong> The CNN model trained on the UTKface dataset ensures accurate age and gender classification.</li>
            <li><strong>User-Friendly Interface:</strong> With a simple and intuitive design, users can easily interact with the application and view the results.</li>
        </ul>

        <h3>Technologies Used:</h3>
        <ul>
            <li><strong>Flask:</strong> The web application is built using Flask, a lightweight and efficient web framework in Python.</li>
            <li><strong>OpenCV:</strong> OpenCV is utilized for video processing, allowing real-time analysis of video streams.</li>
            <li><strong>Convolutional Neural Networks (CNNs):</strong> The core of our application, CNNs are employed for age and gender prediction tasks.</li>
            <li><strong>HTML/CSS:</strong> The frontend of the application is designed using HTML for structure and CSS for styling.</li>
        </ul>
    </div>
</body>
</html>
